<% if(myParams.error === true) {%>
	Dodawania pytania<br/>
<% } %>
<from id="questionForm">
Question: <input type="text" name="question" >
A: <input type="text" name="a" >
B: <input type="text" name="b" >
C: <input type="text" name="c" >
D: <input type="text" name="d" >
Correct: <input type="text" name="correct" >
<input type="submit" class="a" id="addQuestionButton" value="Add question">
</form>