<% if(myParams.error === true) {%>
	Dodawania pytania<br/>
<% } %>
<from id="questionSetForm">
   Nazwa: <input type="text" name="name">
  Nazwa zajęć:  <input type="text" name="className">
    <input type="submit" class="a" id="addQuestionSetButton" value="Add question set">
</form>