<button id="toUserList">Zarządzaj użytkownikami</button>
<button id="toQuestionList">Zarządzaj pytaniami</button>
<% if(session.userName==="Adam" ) {%>
    <script type="text/javascript" src="/javascripts/admin/jquery-ui-1.8.20.custom.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/jqueryUI/jquery-ui-1.8.20.custom.css">
<% } %>
<section id="adminContent"></section>


