 <% if(session.isAdmin=== true) {%>
    <script type="text/javascript" src="/javascripts/admin/questionManagerStart.js"></script>
    <link rel="stylesheet" href="/stylesheets/tableSort/jquery.dataTables.css">
    <% } %>
    <div id="questionTabs">
            <ul>
                <li>
                    <a href="/questionsTable">List questions</a>
                </li>
                <li>
                    <a href="/addQuestion">Add question</a>
                </li>
            </ul>
            <div id="listQuestion">
            
            </div>
            <div id="addQuestion">
			
			</div>
        </div>