
<% if(myParams.error === true) {%>
	Błąd rejestracji<br/>
<% } %>

<form id="registerForm">
    <b>Login:</b>
    <input id="registerUserName" type="text" name="userName" size="15">
    <br>
    <b>Haslo:</b>
    <input id="pass" type="password" name="pass" size="15">
    <b>Powtórz:</b>
    <input id="pass2" type="password" name="pass2" size="15">
    <select id="group">
    	<option value="1">1</option>
    	<option value="2">2</option>
    	<option value="3">3</option>
    	<option value="4">4</option>
    </select>
    <button id="registerButton">Zarejestruj</button>
</form>
<% if(myParams.exist === true) {%>
	<img src="/images/username69.jpg" width="234" height="350" alt="username taken" />
<% } %>
<% if(myParams.error === true) {%>
	<img src="/images/usererror.jpg" width="221" height="166" alt="user error" />
<% } %>