<title><%= myParams.title %></title>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/styl.css">
<script type="text/javascript" src="/javascripts/jquery.min.js">
</script><script type="text/javascript" src="/javascripts/skrypt.js">
</script>
<link rel="Shortcut icon" href="/images/fav.png" />