<% if(session.userName !== undefined) {%>
 <script type="text/javascript" src="/javascripts/cometUser.js" ></script>
	<section id="loginStatus">
		Witaj<b id="userName"> <%= session.userName %> </b><p id="userId" style="display:none"><%= session.userId %> </p> !
	</section>
<% }else{ %>
	<% if(myParams.error === true) {%>
		Nie ma takiego użytkownika. <br/>
	<% } %>
    <b>Login:</b>
    <form>
    	<input id="loginUserName" type="text" name="userName">
    	<br>
   		<b>Haslo:</b>
    	<input id="loginPass" type="password" name="pass">
    	<button id="loginButton">Zaloguj</button>
    </form>
	<% if(myParams.error === true) {%>
		<img src="/images/usernotfound.jpg" width="221" height="166" alt="user not found" />
	<% } %>
<% } %>
 <% if(session.userName === "Adam") {%>
 
	<button id="goToAdmin">Adminuj!</button>
	<script type="text/javascript" src="/javascripts/admin/admin.js" ></script>
	<script type="text/javascript" src="/javascripts/admin/jquery.dataTables.min.js" ></script>
	<div id="switch">←</div>
	<div id="userStatusDiv">
	<table >
	<tbody id="userStatusTableBody">
	</tbody>
	</table>
	</div>
 <% } %>