<section id="loginStatus">
    <b>Login:</b>
    <input id="userName" type="text" name="userName">
    <br>
    <b>Haslo:</b>
    <input id="pass" type="password" name="pass">
    <button id="loginButton">Zaloguj</button>
</section>
