<section id="zegarek" class="zegarek">
    <b>Obecny czas:</b>
    <em class="currentTime"></em>
    <br>
    <b>Czas zakończenia:</b>
    <em class="endTime"></em>
    <br>
    <b>Pozostały czas:</b>
    <em class="days"></em>
    <b>:</b>
    <em class="hours"></em>
    <b>:</b>
    <em class="min"></em>
    <b>:</b>
    <em class="sec"></em>
</section>
