/*COLORS*/
/*PAGE MARGIN PADDING*/
/* BORDERS */
/*BORDERS RADIUS */
body {
  background-color: #eeeeee;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  padding: 20px;
}
#content {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  min-height: 600px;
}
#leftMenu {
  float: left;
  width: 250px;
  min-height: 300px;
  max-height: 700px;
}
#quiz {
  min-height: 300px;
  max-height: 1100px;
  width: 1100px;
  overflow-y: auto;
  margin: auto;
  margin-left: 250px;
  padding: 1em;
}
#answerBlock {
  list-style-type: none;
}
#answerBlock .answer {
  background-color: #eeeeee;
  border-left: 2px dotted #808080;
  border-right: 2px dotted #808080;
  border-top: 2px dotted #808080;
  border-bottom: 2px dotted #808080;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  min-height: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1em;
}
#answerBlock .answer:hover {
  background-color: #d5d5d5;
  border-left: 2px dotted #808080;
  border-right: 2px dotted #808080;
  border-top: 2px dotted #808080;
  border-bottom: 2px dotted #808080;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  min-height: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1em;
}
#answerBlock .answerChecked {
  background-color: #a2a2a2;
  border-left: 2px dotted #808080;
  border-right: 2px dotted #808080;
  border-top: 2px dotted #808080;
  border-bottom: 2px dotted #808080;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  min-height: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1em;
}
.answerSpan {
  margin-left: 50px;
  height: 100%;
  margin: 0px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 1em;
  padding-top: 10px;
  line-height: 10px;
  padding-bottom: 1px;
}
.answerH1 {
  position: relative;
  width: 50px;
  height: 100%;
  float: left;
  border-right: 2px dotted #808080;
  border-bottom: 2px dotted #808080;
  margin: 0px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}
.radioAnswer {
  visibility: hidden;
}
.zegarek {
  display: block;
}
footer {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
#timePopup {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 132;
  border-style: solid;
  border-width: 4;
  border-color: #d5d5d5;
  background-color: #eeeeee;
  padding: 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 10pt;
  z-index: 2;
  display: none;
}
#switch {
  position: fixed;
  right: 0px;
  top: 50%;
  width: 16px;
  border-style: solid;
  border-width: 4;
  border-color: #d5d5d5;
  background-color: #eeeeee;
  z-index: 2;
}
#userStatusDiv {
  position: fixed;
  right: 0px;
  top: 50%;
  width: 130px;
  border-style: solid;
  border-width: 4;
  border-color: #d5d5d5;
  background-color: #eeeeee;
  padding: 5px;
  font-weight: bold;
  font-size: 10pt;
  z-index: 2;
  display: none;
}
